.codepen-bar {
    background-color: #000;
    color: #fff;
    font-weight: 700;
    padding-top: 1em;
    display: grid;
    grid-template-columns: 0.8fr 2fr 1.3fr;
    grid-gap: 30px;
}

/* CodePen Logo Styles */

.codepen-bar > .logo {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-left: 2em;
    padding-bottom: 1em;   
}

.codepen-bar > .logo img {   
    height: 40px;
}

/*  Navigation Section Styles */

.codepen-bar > .navigation-section {
    font-family: 'Lato', sans-serif;   
    font-weight: 900;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 1.5em;
}
.codepen-bar > .navigation-section > .outlier {
    color:#F7DC6F;
    font-size: 0.75rem;
    position: relative;
    left: 52px;
    top: -20px ; 
}

.codepen-bar > .navigation-section > .spark {
    color: #808B96;
}

.codepen-bar > .navigation-section > .spark i {
    padding-left: 15px;
}

/* Right Navigation Styles */

.codepen-bar > .right-nav-section {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    color: #F8F9F9;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1em;
} 

.codepen-bar > .right-nav-section i {
    color:  #47cf73;
    padding-left: 5px;
}

.codepen-bar > .right-nav-section > .right-nav-parts {
    background-color: #444857;
    border: 3px solid #444857;
    border-radius: 5px;
    padding: 10px;
}

.codepen-bar > .right-nav-section > .right-nav-icon {    
    display: flex;
    justify-content: center; 
    align-items: center;
    padding-bottom: 0.5em;   
}
    
.codepen-bar > .right-nav-section > .right-nav-icon i {
    color: #808B96;
    width: 100%;
    font-size: 30px;
}


